/* Colores para el estilo. */
:root{
    --blanco: #FFF;
    --blanco2: #e6e6e6;
    --negro-trans: #000000aa;
    --negro: #000;
    --negro2: #131921;
    --negro3: #232f3e;
    --amarillo: #FFD814;
    --amarillo2: #FEBD69;
    --amarillo3: #FFA41C;
    --gris: #333;
    --gris2: #D5D9D9;
    --gris3: #9F9F9F;
    --rojo: #F00;
    --azul: #00F;
    --verde2: #007185;
    --anaranjado: #FF8F00;
}

/* Estilo de la página. */
* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Para la barra del menú principal */
header {
    background-color: var(--negro2);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}
div {
    color: var(--blanco);
    margin: 4px 0;
}
.logo-enviar, .barra, .info {
    height: 52px;
}
.logo-enviar {
    width: 260px;
    display: flex;
    flex-direction: row;
}
.logo-amazon {
    width: 100px;
    margin: 0;
}
.logo {
    width: 100%;
    margin: 6px 0;
}
.ubicacion {
    width: 160px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
i {
    font-size: 19px;
    font-weight: bold;
    margin: 16px;
}
.infor {
    margin: 0;
    width: 90px;
}
.enviar, .colombia {
    height: 20px;
    font-size: 12px;
    margin: 0;
}
.enviar {
    margin-top: 5px;
}
.colombia {
    font-weight: 700;
    margin-bottom: 5px;
}
/* .pais {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--blanco);
    font-weight: bold;
    border: none;
    padding: 0;
}
.paises {
    background-color: var(--negro);
} */
.barra {
    width: calc(100% - 652.4px);
}
.barra-busqueda{
    height: 40px;
    display: flex;
    flex-direction: row;
}
.option, .busqueda, .buscar {
    height: 100%;
    border: none;
}
.option {
    width: 66px;
    background-color: var(--blanco2);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.busqueda {
    width: calc(100% - 106px);
    outline: none;
    padding-left: 8px;
}
.buscar {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--amarillo2);
}
.info {
    width: 392.4px;
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
}
.idioma {
    width: 71.3px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.bandera {
    width: 22px;
    height: 15px;
    margin: 0 1.3px 0 12px;
}
.lengua {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20px;
    height: 23px;
    margin: 0 12px 0 1.3px;
}
.icono {
    font-size: 12px;
    margin: 0.5px;
}
.cuenta-lista {
    width: 129.5px;
    padding: 0;
}
.pedidos {
    width: 90.06px;
}
.hola, .cuenta, .devoluciones, .pedido {
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 0;
}
.hola, .devoluciones {
    margin-top: 5px;
}
.cuenta, .pedido {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
}
.carrito {
    display: flex;
    align-items: end;
    width: 101.55px;
    height: 52px;
    display: flex;
    padding: 0;
    flex-direction: row;
}
#nav-cart-count-container {
    width: 28px;
    height: 40px;
    position: relative;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
}
.number {
    height: 22px;
    position: absolute;
    top: 0;
    left: 6px;
}
.cart {
    height: 26px;
    margin: 0;
}
.car-venta {
    position: absolute;
    top: 3px;
    left: -16px;
}
.carro {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 13px;
    display: flex;
    bottom: 0;
    font-weight: 700;
}

/* Para la barra que esta bajo de la barra de menú */
.header2 {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 39px;
    background-color: var(--negro3);
    margin: 0;
    display: flex;
    flex-direction: row;
}
.div-todo {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 8px 9px;
    margin: 0;
}
.info-2 {
    display: flex;
    flex-direction: row;
    margin: 0;
}
span {
    font-size: 18.92px;
}
.oferta, .lista, .servicio, .tarjeta, .vender {
    font-size: 14px;
    color: var(--blanco);
    margin: 5px 0 6px;
    padding: 8px 9px;
}

/* Para el contenido de los productos */
.content {
    max-width: 98%;
    height: 450px;
    display: grid;
    grid-template: "container-produc    container-producto-main     texto   info-precio-produc" /
                    60px                1fr                       3fr   200px;
    margin-top: 6px;
    grid-gap: 20px;
    color: var(--negro);
    padding: 10px;
}
.container-produc {
    grid-area: container-produc;
}
.productoMain1, .productoMain2, .productoMain3, .productoMain4, .productoMain5, .productoMain6 {
    height: 45px;
    border: 1px solid var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 7px;
}
.img-main-producto {
    width: 100%;
    border-radius: 10px;
}
.container-producto-main {
    grid-area: container-producto-main;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 410px;
    overflow: hidden;
}
.producto {
    max-width: 100%;
    display: block;
    height: 92%;
}
.grayBox {
    width: 200px;
	height: 200px;
	background-image: url(../img/1.jpg);
	background-size:400px 400px;
	background-position: 0 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 0;
	display : none;
}
.magnifier {
    /* width: 220px; */ /* Ancho de la lupa */
    /* height: 220px; */ /* Altura de la lupa */
    /* border: 2px solid var(--gris);
    position: absolute;
    cursor: crosshair;
    display: none;
    background-image: url('../img/auriculares1.jpg'); */ /* URL de tu imagen */
    /* background-size: 450px; */ /* Ancho del contenedor de la imagen */
    grid-area: texto;
    width: 400px;
	height: 400px;
	position: absolute;
	left: 700px;
	top: 100px;
	border:4px solid var(--rojo);
	overflow: hidden;
	display : none;
}
.magnifier .img {
    position: absolute;
}
.text {
    height: 410px;
    grid-area: texto;
    padding: 10px;
}
.text-content-main {
    color: var(--negro);
    font-size: 24px;
    font-weight: 410;
    line-height: 32px;
}
.info-precio-produc {
    grid-area: info-precio-produc;
    border: 1px solid var(--gris2);
    border-radius: 8px;
}
.devolu {
    font-size: 14px;
    color: var(--verde2);
}
.icono2 {
    font-size: 14px;
    margin: 0;
    color: var(--negro);
}
.info-entrega-producto {
    color: var(--negro);
}
.info-detalle {
    color: var(--verde2);
}

/* Para el modal */
.despregable {
    width: 100%;
    height: 100vh;
    visibility: hidden;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--negro-trans);
}
.content-dos {
    max-width: 88%;
    height: 78%;
    background-color: var(--blanco);
    border-radius: 12px;
    display: grid;
    grid-template: "container-producto-main texto" /
                    415px                   0.56fr;
    margin-top: 6px;
    grid-gap: 200px;
    color: var(--negro);
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.container-producto-main-dos {
    grid-area: container-producto-main;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 410px;
}
.text-content, .precio-producto, .container-producto {
    margin: 12px 0;
}
.text-content {
    color: var(--negro);
    font-size: 16px;
    font-weight: 540;
    line-height: 34px;
}
.precio {
    font-size: 18px;
    font-weight: 400;
    color: var(--negro);
    margin-left: 20px;
}
.container-producto {
    height: 84px;
    margin-top: 30px;
    display: grid;
    grid-template: "producto1   producto2   producto3   producto4" /
                    80px        80px        80px        80px;
    grid-gap: 8px;
}
/* .container-producto-2 {
    display: none;
} */
.producto1, .producto2, .producto3, .producto4, .producto5, .producto6, .producto7, .producto8 {
    height: 80px;
    border: 1px solid var(--gris2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.img-producto {
    width: 80%;
}
.producto1 {
    height: 80px;
    grid-area: producto1;
    border-color: var(--anaranjado);
}
.producto2 {
    height: 80px;
    grid-area: producto2;
}
.producto3 {
    height: 80px;
    grid-area: producto3;
}
.producto4 {
    height: 80px;
    grid-area: producto4;
}
.btn-x {
    position: absolute;
    top: 60px;
    right: 80px;
    color: var(--negro);
    cursor: pointer;
}
@media screen and (max-width: 450px) {
    /* .logo-enviar {} */
    .content-dos {
        max-width: 88%;
        background-color: var(--blanco);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        margin-top: 6px;
        grid-gap: 200px;
        color: var(--negro);
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .container-producto-main-dos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 410px;
    }
    .text-content {
        display: none;
    }
    .precio {
        display: none;
    }
    /* .container-producto-1 {
        display: none;
    } */
}


/* Fuentes */
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}