/* Colores para el estilo. */
:root{
    --blanco: #FFF;
    --blanco2: #e6e6e6;
    --blanco3: #f6f7f8;
    --negro-trans: #000000aa;
    --negro: #000;
    --negro2: #131921;
    --negro3: #232f3e;
    --amarillo: #FFD814;
    --amarillo2: #FEBD69;
    --amarillo3: #FFA41C;
    --gris: #333;
    --gris2: #D5D9D9;
    --gris3: #9F9F9F;
    --gris4: #5A5A5A;
    --rojo: #F00;
    --rojo2: #ae2e0f;
    --azul: #00F;
    --azul2: #59a2af;
    --azul3: #439fc5;
    --azul4: #004b91;
    --azul5: #178092;
    --verde: #2a9c2a;
    --verde2: #007185;
    --anaranjado: #FF8F00;
    --cafe: #c45500;
}

/* Estilo de la página. */
* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Para la barra del menú principal */
header {
    background-color: var(--negro2);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    color: var(--blanco);
}
div {
    margin: 4px 0;
}
.logo-enviar, .barra, .info {
    height: 52px;
}
.logo-enviar {
    width: 260px;
    display: flex;
    flex-direction: row;
}
.logo-amazon {
    width: 100px;
    margin: 0;
}
.logo {
    width: 100%;
    margin: 6px 0;
}
.ubicacion {
    width: 160px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
i {
    font-size: 19px;
    font-weight: bold;
    margin: 16px;
}
.infor {
    margin: 0;
    width: 90px;
}
.enviar, .colombia {
    height: 20px;
    font-size: 12px;
    margin: 0;
}
.enviar {
    margin-top: 5px;
}
.colombia {
    font-weight: 700;
    margin-bottom: 5px;
}
/* .pais {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--blanco);
    font-weight: bold;
    border: none;
    padding: 0;
}
.paises {
    background-color: var(--negro);
} */
.barra {
    width: calc(100% - 652.4px);
}
.barra-busqueda{
    height: 40px;
    display: flex;
    flex-direction: row;
}
.option, .busqueda, .buscar {
    height: 100%;
    border: none;
}
.option {
    width: 66px;
    background-color: var(--blanco2);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.busqueda {
    width: calc(100% - 106px);
    outline: none;
    padding-left: 8px;
}
.buscar {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--amarillo2);
}
.info {
    width: 392.4px;
    display: flex;
    flex-direction: row;
}
a {
    color: var(--blanco);
    text-decoration: none;
}
.idioma {
    width: 71.3px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.bandera {
    width: 22px;
    height: 15px;
    margin: 0 1.3px 0 12px;
}
.lengua {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20px;
    height: 23px;
    margin: 0 12px 0 1.3px;
}
.icono {
    font-size: 12px;
    margin: 0.5px;
}
.cuenta-lista {
    width: 129.5px;
    padding: 0;
}
.pedidos {
    width: 90.06px;
}
.hola, .cuenta, .devoluciones, .pedido {
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 0;
}
.hola, .devoluciones {
    margin-top: 5px;
}
.cuenta, .pedido {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
}
.carrito {
    display: flex;
    align-items: end;
    width: 101.55px;
    height: 52px;
    display: flex;
    padding: 0;
    flex-direction: row;
}
#nav-cart-count-container {
    width: 28px;
    height: 40px;
    position: relative;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
}
.number {
    height: 22px;
    position: absolute;
    top: 0;
    left: 6px;
}
.cart {
    height: 26px;
    margin: 0;
}
.car-venta {
    position: absolute;
    top: 3px;
    left: -16px;
}
.carro {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 13px;
    display: flex;
    bottom: 0;
    font-weight: 700;
}

/* Para la barra que esta bajo de la barra de menú */
.header2 {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 39px;
    background-color: var(--negro3);
    margin: 0;
    display: flex;
    flex-direction: row;
}
.div-todo {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 8px 9px;
    margin: 0;
    color: var(--blanco);
}
.info-2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.icon-menu-amburguesa {
    font-size: 18.92px;
}
.oferta, .lista, .servicio, .tarjeta, .vender {
    font-size: 14px;
    color: var(--blanco);
    margin: 5px 0 6px;
    padding: 8px 9px;
    display: flex;
    align-items: center;
}

/* Para el header 3 */
.header3 {
    width: 100%;
    height: 52px;
    background-color: var(--blanco3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
}
.header-3-interno {
    max-width: 1100px;
    display: grid;
    grid-template: "img-header-3    text-header-3   precio-unitario   icon-prime"/
                    27px            1fr             52px                58px;
    grid-gap: 6px;
    flex-direction: row;
    align-items: center;
}
.img-header-3 {
    grid-area: img-header-3;
    height: 96%;
    margin: 0 8px 0 0;
}
.img-header-3-interno {
    width: 20px;
}
.text-header-3 {
    grid-area: text-header-3;
    font-size: 12.2px;
    font-weight: 550;
}
.precio-unitario {
    grid-area: precio-unitario;
    font-size: 20px;
    display: flex;
    justify-content: start;
    color: var(--rojo2);
}
.number-tamaño {
    font-size: 11px;
}
.icon-prime {
    grid-area: icon-prime;
    color: var(--azul3);
    display: flex;
    flex-direction: row;
}
.icons-prime {
    color: var(--amarillo);
    margin: 1px;
}

/* Para el contenido de los productos */
.patrocinio-volver {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.patrocinio {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 0 8px;
}
.volver {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 0 8px;
    color: var(--negro);
}
.content {
    max-width: 1500px;
    display: grid;
    grid-template: "container-produc    container-producto-main     texto   info-precio-produc" /
                    60px                    1.1fr                         2fr     250px;
    margin-top: 6px;
    grid-gap: 16px;
    padding: 10px;
}
.container-produc {
    grid-area: container-produc;
    display: block;
}
#containerProducDos {
    display: none;
}
#containerProducTres {
    display: none;
}
.productoMain {
    height: 45px;
    border: 1px solid var(--gris3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 7px;
    box-sizing: border-box;
}
.borderProductoMain {
    border-color: var(--azul5);
    box-shadow: 0 0 10px 0 #178092bb;
}
.img-main-producto {
    width: 100%;
    border-radius: 10px;
}
.container-producto-main {
    grid-area: container-producto-main;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26%;
    cursor: pointer;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
}
#containerProductoMainDos {
    display: none;
}
#containerProductoMainTres {
    display: none;
}
.content-img {
    height: 92%;
}
.producto {
    width: 100%;
    display: block;
    height: 100%;
}
.cordenadas {
    width: 140px;
    height: 130px;
    border: 0.5px solid #333;
    background-color: #fff9;
    position: absolute;
    display: none;
}
.magnifier {
    width: 46.8%; /* Ancho de la lupa */
    height: 82%; /* Altura de la lupa */
    border: 2px solid var(--gris);
    position: absolute;
    cursor: crosshair;
    display: none;
    background-image: url('../img/auriculares1.jpg'); /* URL de tu imagen */
    background-size: 1500px; /* Ancho del contenedor de la imagen */
    top: 96px;
    left: 32.6%;
    z-index: 1;
}
.text {
    grid-area: texto;
}
.content-text-one {
    width: 100%;
    margin: 10px;
}
.text-content-main {
    font-size: 24px;
    font-weight: 410;
    line-height: 32px;
}
.visita-tienda-BENGOO {
    font-size: 14px;
    color: var(--azul2);
}
.estrellas-calificacion {
    display: flex;
    flex-direction: row;
}
.estrellas {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.star {
    font-size: 14px;
    margin: 0 3px;
    color: var(--amarillo3);
}
.calificacion, .pregunta {
    margin: 0 14px;
}
.calificacion-global {
    width: 280px;
    background-color: #FFF;
    position: relative;
    top: -8px;
    left: -72px;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    margin: 0;
    border: 1px solid var(--gris3);
    padding: 10px 12px;
    z-index: 1;
}
.triangulo-1 {
    width: 16px;
    height: 6px;
    position: relative;
    top: -16px;
    margin: 0 auto;
    background-color: #CCC;
    z-index: 1;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.estrella-div {
    margin: 6px 0;
}
.number-star-div {
    font-size: 16px;
    font-weight: 600;
}
.text-calificacion-global {
    font-size: 14px;
    margin: 7px 0 12px 0;
}
.barras-estrellas {
    font-size: 14px;
    margin: 6px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--azul2);
}
.barra-principal {
    width: 154px;
    height: 20px;
    margin: 0 10px;
    border: 1px solid var(--gris4);
    border-radius: 4px;
}
.barra-principal-1 {
    margin: 0 13px;
}
.barra-ineterior {
    height: 100%;
    margin: 0;
    background-color: var(--amarillo3);
}
.porcentaje-barra {
    margin: 0;
}
.barra-ineterior-5 {
    width: 66%;
}
.barra-ineterior-4 {
    width: 15%;
}
.barra-ineterior-3 {
    width: 8%;
}
.barra-ineterior-2 {
    width: 4%;
}
.barra-ineterior-1 {
    width: 7%;
}
.div-opiniones-clientes {
    font-size: 14px;
    padding: 12px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opiniones-clientes {
    color: var(--azul2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-calificacion {
    border-right: 1px solid var(--gris3);
}
.mas-vendido {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--azul2);
}
.div-number-vendido {
    background-color: var(--cafe);
    padding: 0 0 0 3px;
    height: 28px;
    color: var(--blanco);
    margin: 0 6px 0 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.triangulo-2 {
    position: relative;
    width: 8px;
    height: 100%;
    background-color: var(--blanco);
    margin: -0.24px;
    margin-left: 6px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
}
.cant-vendidos {
    font-size: 14px;
}
.content-text-thow {
    margin: 10px;
}
.info-of-precio {
    display: flex;
    flex-direction: row;
}
.minus-porcent {
    font-size: 24px;
    color: var(--rojo);
    margin: 0 6px 0 0;
}
.info-of-valor {
    display: flex;
    justify-content: start;
    font-size: 16px;
    color: var(--negro);
    margin: 0 6px;
}
.number-valor {
    font-size: 24px;
}
.precio-recomendado {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--negro);
}
.info-precio-recomendado {
    text-decoration: line-through;
}
.text-thow-primary {
    font-size: 14px;
}
.text-prima {
    margin: 12px 0;
}
.color {
    font-weight: 600;
}
.divs-images {
    display: grid;
    grid-template: "divs-image-1    divs-image-2    divs-image-3" /
                    145px            145px          145px;
    grid-gap: 10px;
    height: 60px;
}
.div-image {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gris2);
    border-radius: 6px;
    cursor: pointer;
}
.div-image:hover {
    border-color: var(--azul4);
}
.divs-images-1 {
    grid-area: divs-image-1;
    border-color: var(--anaranjado);
}
.divs-images-2 {
    grid-area: divs-image-2;
}
.divs-images-3 {
    grid-area: divs-image-3;
}
.image {
    height: 75%;
    margin: 0 3px 0 0;
}
.table-info-producto {
    color: var(--negro);
}
.table-info-producto .th-left-of-content-center {
    text-align: left;
    font-weight: 600;
    padding: 2px 10px 2px 0;
}
.td-table-content {
    padding: 2px;
}
.info-sobre-producto {
    margin: 10px;
}
.sobre-el-articulo, .nota {
    font-weight: 600;
}
.text-info-articulo {
    font-size: 14px;
}
.info-text-info-articulo {
    margin-left: 20px;
}
.signo-precio-producto-divs, .precio-producto-divs {
    font-size: 14px;
}
.info-precio-produc {
    grid-area: info-precio-produc;
}
.info-precio-produc-interno {
    border: 1px solid var(--gris2);
    border-radius: 8px;
    padding: 8px;
}
.devolu {
    font-size: 14px;
    color: var(--verde2);
}
.icono2 {
    font-size: 14px;
    margin: 0;
}
.info-entrega-producto {
    font-size: 14px;
}
.info-detalle {
    font-size: 14px;
    color: var(--verde2);
}
.negrilla {
    font-weight: 600;
}
.text-info-entrega-producto-3 {
    margin: 13px 0;
}
.letra-verde {
    color: var(--verde);
}
.enviar-Colombia {
    color: var(--azul2);
    margin: 13px 0;
}
.icons {
    font-size: 16px;
    margin: 0 6px 0 0;
    color: var(--negro);
}
.cantidad-carrito {
    margin: 13px 0;
}
.disponible {
    font-size: 18px;
    font-weight: 550;
    margin: 0 0 8px 0;
}
.select-cant {
    height: 25px;
    margin: 8px 0;
    border-radius: 6px;
}
.btns {
    display: flex;
    flex-direction: column;
}
.btn {
    height: 36px;
    font-weight: 550;
    margin: 6px 0;
    border: none;
    border-radius: 20px;
}
.agregar-carrito {
    background-color: var(--amarillo);
}
.comprar-ahora {
    background-color: var(--amarillo3);
}
.table-info-producto-rigth {
    font-size: 13px;
}
.td-left-of-content-rigth {
    padding: 2px 6px 2px 0;
    display: flex;
    justify-content: start;
}
.td-amazon {
    font-weight: 520;
}
.color-info {
    color: var(--azul2);
}
.agregar-recibo {
    font-size: 14px;
    margin-bottom: 12px;
}
.input1 {
    margin: 6px;
    float: left;
}
.tex-info-recibo {
    display: flex;
    margin: 0 6px;
    justify-content: start;
}
.agregar-lista {
    font-size: 14px;
    border: 1px solid var(--negro);
    border-radius: 8px;
    padding: 6px;
    margin: 10px 0;
}
.agregar-accesorios {
    border: 1px solid var(--gris2);
    border-radius: 8px;
    margin: 14px 0;
    font-size: 14.2px;
}
.agregar-accesorio {
    text-align: center;
    font-weight: 600;
}
.combo-teclado {
    padding: 8px;
}
.teclado-of-104-teclas {
    font-size: 14px;
}
.precio-plus-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.us-precio {
    font-size: 16px;
    color: var(--rojo);
}
.btn-agregar-carro {
    background-color: var(--amarillo);
    border: none;
    border-radius: 20px;
    padding: 5px 7px;
}
.text-nuevo {
    font-size: 14px;
    border: 1px solid var(--gris2);
    border-radius: 8px;
    margin: 14px 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nuevo-text {
    display: flex;
    flex-direction: row;
}
.order-inicio {
    display: flex;
    justify-content: start;
    margin: 0 6px;
}
.tamano {
    font-size: 10px;
}
.icon-angle-right {
    margin: 0;
    text-align: left;
}
.otro-vendedor {
    font-size: 14px;
    border: 1px solid var(--gris2);
    border-radius: 8px;
}
.otros-vendedores-amazon, .vendedor {
    padding: 6px;
}
.otros-vendedores-amazon {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
.precio-and-carrito {
    color: var(--rojo);
    display: flex;
    justify-content: space-between;
}
.btn-agregar-carrito {
    background-color: var(--amarillo);
    border: none;
    border-radius: 10px;
    padding: 4px 2px;
}
.text-vendedor {
    font-size: 12px;
}
.vendedor-negrilla {
    font-weight: 500;
}

/* Para el modal */
.despregable {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--negro-trans);
}
.content-dos {
    width: 88%;
    display: block;
    background-color: var(--blanco);
    border-radius: 12px;
    margin-top: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#contentDos2 {
    display: none;
}
#contentDos3 {
    display: none;
}
.header-modal {
    width: 100%;
    height: 35px;
    position: relative;
    top: 0;
    padding: 0;
}
.header-modal-interno {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.text-video-image {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
}
.text-video {
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    height: 100%;
    padding: 0;
    transition: all 1s;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.text-image {
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    height: 100%;
    padding: 0;
    transition: all 1s;
    cursor: pointer;
    border-bottom: 2px solid var(--amarillo3);
}
.btn-x {
    cursor: pointer;
    height: 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style-btnX {
    font-size: 20px;
}
.content-producto-parte-dos {
    display: grid;
    grid-template: "container-producto-main  texto" /
                    1fr                      380px;
    margin-top: 6px;
    grid-gap: 20px;
    z-index: 1000;
}
.container-producto-main-dos {
    grid-area: container-producto-main;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 410px;
    cursor: zoom-in;
    overflow: hidden;
}
.producto-main-dos {
    height: 100%;
}
.text-content, .precio-producto, .container-producto {
    margin: 12px 0;
}
.text-content {
    color: var(--negro);
    font-size: 14px;
    font-weight: 540;
    line-height: 34px;
}
.text-color {
    color: var(--gris4);
}
.container-producto {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(2, 80px);
    grid-gap: 8px;
}
.productos-divs-modal {
    height: 80px;
    border: 1px solid var(--gris2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.productos-divs-modal:hover {
    border-color: var(--azul4);
}
.img-producto {
    width: 80%;
}
.producto1 {
    height: 80px;
    border-color: var(--anaranjado);
}
.producto2 {
    height: 80px;
}
.producto3 {
    height: 80px;
}
.producto4 {
    height: 80px;
}
@media screen and (max-width: 450px) {
    /* .logo-enviar {} */
    .content-dos {
        max-width: 88%;
        background-color: var(--blanco);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        margin-top: 6px;
        grid-gap: 200px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .container-producto-main-dos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 410px;
    }
    .text-content {
        display: none;
    }
}


/* Fuentes */
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}