* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    --verde: #008b8b;
    --amarillo: #daa520;
    --blanco: white;
    /* --azul-oscuro: #191970;
    --negro: #000; */
}
/* .container {
    position: fixed;
    display: flex;
    width: 110px;
    top: 300px;
    left: -72px;
    height: 39px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: var(--azul-oscuro);
    transition: all 1s;
}
.container:hover {
    position: fixed;
    display: flex;
    width: 110px;
    top: 300px;
    left: 0;
    height: 39px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: var(--azul-oscuro);
}
.inicio-1 {
    width: 72px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0;
    width: 36px;
    height: 37px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid var(--negro);
}
ul {
    list-style: none;
}
a {
    width: 100px;
    color: var(--negro);
    padding: 11px 17px;
    text-decoration: none;
    background-color: transparent;
} */
.box {
    width: 100%;
    background-color: var(--verde);
}
.box-gen {
    width: 300px;
    height: 300px;
    background-color: var(--amarillo);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8em;
    color: var(--blanco);
    font-weight: 900;
}
.box-1 {
    display: flex;
    flex-direction: row;
}
.box-2 {
    display: flex;
    flex-direction: column;
}
.box-3 {
    display: flex;
    flex-wrap: wrap;
}
.box-4 {
    display: flex;
    flex-wrap: nowrap;
}
.box-5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 700px;
}
.box-6 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 400px;
}
.box-7 {
    display: flex;
    justify-content: space-between;
}
.box-8 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box-9 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box-10 {
    display: flex;
    justify-content: flex-start;
}
.box-11 {
    display: flex;
    justify-content: flex-end;
}
.box-12 {
    display: flex;
    justify-content: center;
}
.box-13 {
    display: flex;
    height: 800px;
    align-items: flex-start;
}
.box-14 {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}
.box-15 {
    display: flex;
    height: 800px;
    justify-content: flex-end;
    align-items: flex-end;
}
.box-16 {
    display: flex;
    /* Combinación de flex-dierctio con flex-wrap */
    flex-direction: column wrap;
    overflow-x: scroll;
    height: 350px;
}
.box-17 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}