/* .image-container {
    position: relative;
    width: 500px; /* Ajusta el ancho según tu imagen */
    /*overflow: hidden;
}

#original-image {
    max-width: 100%;
    display: block;
}

.magnifier {
    width: 250px; /* Ancho de la lupa */
    /*height: 250px; /* Altura de la lupa */
    /*border: 2px solid #333;
    position: absolute;
    cursor: crosshair;
    display: none;
    background-image: url('../img/auriculares1.jpg'); /* URL de tu imagen */
    /*background-size: 500px; /* Ancho del contenedor de la imagen */
/*} */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .contenedor {
    position: relative;
  }
  
  .imagen-contenedor {
    position: relative;
    overflow: hidden;
  }
  
  .lupa {
    position: absolute;
    border: 2px solid #ddd;
    width: 150px;
    height: 150px;
    display: none;
    background: url('../img/auriculares1.jpg') no-repeat;
    background-size: 300% 300%;
    cursor: zoom-in;
  }
  