*{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: gainsboro;
}
.main-menu{
    list-style: none;
}
.icon-style, span{
    color: rgb(94, 94, 94);
    margin: 7px 20px;
    font-size: 1.4em;
}
li {
    cursor: pointer;
    margin: 6px;
    background-color: rgb(200, 200, 200);
}
li:hover {
    background-color: rgb(180, 180, 180);
}
.uno {
    border-top: 2px solid rgb(160, 160, 160);
}