* {
    margin: 0;
}
body {
    background-color: aliceblue;
    background-image: url(../img/images-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 20px;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.letras {
    color: rgb(255, 95, 41);
    font-size: 24px;
    margin: 20px;
}
.letras:hover {
    text-shadow: 0 0 5px #fff,
        0 0 10px #fff, 0 0 15px #ff852e,
        0 0 20px #ff852e, 0 0 25px #ff852e,
        0 0 30px #ff852e;
}
h3 {
    text-align: center;
    margin: 20px;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 135px;
}
.subtitulos {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}
input {
    width: 222px;
    height: 22px;
    border: 1px solid #000;
    border-radius: 8px;
    outline: none;
    margin: 10px;
    padding: 6px;
}
.buscar1 {
    display: block;
}
.buscar2 {
    display: none;
}
img {
    width: 100px;
    margin: 5px;
    border-radius: 12px;
    margin-right: 30px;
}
.botones {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#trabajos, #practicas {
    width: 120px;
    height: 50px;
    border: none;
    margin: 20px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#trabajos:hover, #practicas:hover {
    border: 2px solid rgb(140, 140, 190);
    color: rgb(255, 255, 255);
}
#trabajos {
    background-color: rgb(110, 110, 150);
}
#practicas {
    background-color: rgb(140, 140, 190);
}
ul{
    padding: 0;
    text-align: center;
}
.menu-1 {
    display: block;
}
.menu-2 {
    display: none;
}
a {
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 14px 28px;
    background-color: rgb(150, 150, 150);
    color: #fff;
    margin: 15px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
a:hover {
    background-color: transparent;
    border: 2px solid rgb(150, 150, 150);
    color: rgb(150, 150, 150);
}
li {
    display: inline-block;
    margin: 30px 20px;
}
.date {
    color: #fff;
    margin: 30px;
}
@media screen and (max-width: 1000px) {
    a {
        width: 155px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        border-radius: 10px;
        padding: 10px 23px;
        background-color: rgb(150, 150, 150);
        color: #fff;
        margin: 10px 13px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
    }
    a:hover {
        background-color: transparent;
        border: 2px solid rgb(150, 150, 150);
        color: rgb(150, 150, 150);
    }
    li {
        display: inline-block;
        margin: 18px 8px;
    }
}
@media screen and (max-width: 640px) {
    .letras {
        margin: 16px;
    }
    .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 280px;
    }
    .subtitulos {
        display: block;
    }
    img {
        width: 88px;
        margin: 5px;
        border-radius: 12px;
    }
    .botones {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }
    button {
        width: 120px;
        height: 50px;
        border: none;
        margin: 20px;
        color: white;
        font-weight: 700;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(130, 130, 180);
    }
    a {
        width: 155px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        border-radius: 10px;
        padding: 10px 23px;
        background-color: rgb(150, 150, 150);
        color: #fff;
        margin: 10px 13px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
    }
    a:hover {
        background-color: transparent;
        border: 2px solid rgb(150, 150, 150);
        color: rgb(150, 150, 150);
    }
    li {
        display: block;
        margin: 16px 8pxx;
    }
}