.box-1 {
    width: 400px;
    height: 560px;
    border-radius: 25px;
    background-color: blue;
    left: -380px;
    position: fixed;
    transition: all 1s;
}
.box-1:hover {
    background-color: rgb(255, 0, 234);
    left: 0;
    cursor: pointer;
}